form{
    display: flex;
    flex-direction: column;

}
input{
    background-color: white;
    padding:6px 0;
    color:black
}
textarea{
    background-color: white;
    color:black
}
label{
    margin-top: 12px;
    font-size: 18px;
}

.reactionBtn{
    background-color: transparent;
    color: white;
}